body {
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}


@media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  